# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/
[Bb]uild/
[Bb]uilds/

# IDE & derleyici çıktıları
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.opendb
*.VC.db
ProjectSettings/boot.config
